* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
/* Adjust canvas size to image size */
#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 706px;

    
    border: solid 2px white;
}